snippet prop "Read Only Property" b
@property
def ${1:name}(self):
	${2:return self._$1}$0
endsnippet

snippet props "Read write property" b
@property
def ${1:name}(self):
	${2:return self._$1}

@$1.setter
def $1(self, $1):
	${3:self._$1 = $1}$0
endsnippet

